#timer {
  margin-top: 25px;
  height: 10px;
  width: 100%;
  border-radius: 12px;
  animation: 30s linear 0s shrink forwards;
}

@keyframes shrink {
  0% {
    width: 100%;
    background-color: green;
  }

  50% {
    width: 50%;
    background-color: yellow;
  }


  100% {
    width: 0%;
    background-color: red;
  }
}
