<!-- Tailwind-css Navbar  -->
<nav class="bg-black">
  <div class="container mx-auto">
    <div class="sm:flex justify-around">
      <!-- Site-title  -->
      <a [routerLink]="['']" class="text-white uppercase text-3xl font-bold p-3">quizapp</a>

      <!-- Menus  -->
      <ul class="text-gray-200 sm:self-center text-xl border-t sm:border-none">
        <li class="sm:inline-block">
          <a [routerLink]="['login']" routerLinkActive="active" class="p-3 hover:text-white">Login</a>
        </li>
        <li class="sm:inline-block">
          <a [routerLink]="['register']" routerLinkActive="active" class="p-3 hover:text-white">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
